html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
  
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

footer, header, main, menu, nav, section {
  display: block;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a {
  outline-width: 0;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub {
  bottom: -0.25em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

img {
  border-style: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button, input {
  font: inherit;
  margin: 0;
  overflow: visible;
}

button {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=checkbox], [type=radio] {
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html, body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h1, h2, h3, h4 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
}

.btn, .button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowra;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.active {
  background-color: #666;
  color: white;
}

 .display-container {
  position: relative;
}

.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
}

.fixed-size-container {
  height: 800px; /* Set the height to your desired size */
  overflow: hidden; /* Optional: Hide content that exceeds the container */
}

.bar-block {
  width: 100%;
  min-width: 100%;
}

.bar-block .button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.main, #main {
  transition: margin-left .4s;
}

.modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.bar {
  width: 100%;
  overflow: hidden;
}

.center .bar {
  display: inline-block;
  width: auto;
}

.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.bar {
  position: static;
  float: left;
}

.bar .button {
  white-space: normal;
}

.bar-block .bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.bar-block .center .bar-item {
  text-align: center;
}

.block {
  display: block;
  width: 100%;
}

.container:after, .container:before,
.panel:after, .panel:before,
.row:after, .row:before,
.row-padding:after, .row-padding:before,
.cell-row:before, .cell-row:after,
.clear:after, .clear:before,
.bar:before, .bar:after {
  content: "";
  display: table;
  clear: both;
}

.third {
  float: left;
  width: 100%;
}

.content, .auto { margin-left: auto; margin-right: auto; }
.content { max-width: 980px; }
.auto { max-width: 1140px; }
.hide { display: none !important; }

@media (max-width: 1205px) {
  .auto { max-width: 95%; }
}

@media (max-width: 600px) {
  .modal-content { margin: 0 10px; width: auto !important; }
  .modal { padding-top: 30px; }
}

@media (max-width: 768px) {
  .modal-content { width: 500px; }
  .modal { padding-top: 50px; }
}

@media (min-width: 993px) {
  .modal-content { width: 900px; }
  .hide-large { display: none !important; }
  .sidebar.collapse { display: block !important; }
}

@media (max-width: 992px) {
  .sidebar.collapse { display: none; }
  .main { margin-left: 0 !important; margin-right: 0 !important; }
  .auto { max-width: 100%; }
}

.top, .bottom { position: fixed; width: 100%; z-index: 1; }
.top { top: 0; }
.bottom { bottom: 0; }
.overlay { position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 2; }
.circle { border-radius: 50%; }
.round { border-radius: 4px; }
.row-padding, .row-padding > .half, .row-padding > .third, .row-padding > .twothird, .row-padding > .threequarter, .row-padding > .quarter, .row-padding > .col { padding: 0 8px; }
.container, .panel { padding: 0.01em 16px; }
.panel { margin-top: 16px; margin-bottom: 16px; }

.animate-opacity {
  animation: opac 0.8s;
}

@keyframes opac {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from { left: -300px; opacity: 0; }
  to { left: 0; opacity: 1; }
}

.opacity {
  opacity: 0.60;
}

.large {
  font-size: 18px!important;
}

.xlarge {
  font-size: 24px!important;
}

.xxlarge {
  font-size: 36px!important;
}

.jumbo {
  font-size: 64px!important;
}

.center {
  text-align: center!important;
}

.border {
  border: 1px solid #ccc!important;
}

.section {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

.margin {
  margin: 16px!important;
}

.margin-top {
  margin-top: 16px!important;
}

.margin-bottom {
  margin-bottom: 16px!important;
}

.margin-left {
  margin-left: 16px!important;
}

.margin-right {
  margin-right: 16px!important;
}

.padding {
  padding: 8px 16px!important;
}

.padding-large {
  padding: 12px 24px!important;
}

.padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}

.padding-24 {
  padding-top: 24px!important;
  padding-bottom: 24px!important;
}

.padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}

.right {
  float: right!important;
}

.button:hover {
  color: #000!important;
  background-color: #ccc!important;
}

/* Colors */
.teal, .hover-teal:hover {
  color: #fff!important;
  background-color: #009688!important;
}

.white, .hover-white:hover {
  color: #000!important;
  background-color: #fff!important;
}

.black, .hover-black:hover {
  color: #fff!important;
  background-color: #000!important;
}

.grey, .hover-grey:hover {
  color: #000!important;
  background-color: #9e9e9e!important;
}

.light-grey, .hover-light-grey:hover {
  color: #000!important;
  background-color: #f1f1f1!important;
}

.dark-grey, .hover-dark-grey:hover {
  color: #fff!important;
  background-color: #616161!important;
}

.text-grey, .hover-text-grey:hover, .text-gray, .hover-text-gray:hover {
  color: #757575!important;
}

.text-light-grey, .hover-text-light-grey:hover, .text-light-gray, .hover-text-light-gray:hover {
  color: #f1f1f1!important;
}

.text-dark-grey, .hover-text-dark-grey:hover, .text-dark-gray, .hover-text-dark-gray:hover {
  color: #3a3a3a!important;
}

.border-dark-grey,
.hover-border-dark-grey:hover,
.border-dark-gray,
.hover-border-dark-gray:hover {
  border-color: #616161!important;
}